body {
    min-width: 320px;
}

#container {
    width: 100%;
    padding-top: 50px;
}

.pomodoro {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    width: 100%;
    width: 240px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
    background-color: #8BC34A;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 25px;
    border: solid 3px #8BC34A;
}

.pomodoro input, .pomodoro button {
    display: block;
    padding: 12px;
    font-weight: 500;
}

#timer {
    background-color: #F5F5F5;
    border: solid 2px #8BC34A;
    border-radius: 10px;
    padding: 8px 15px;
    width: 180px;
    margin: 0 auto 10px auto;
    font-size: 32px;
    text-align: center;
    box-sizing: border-box;
}

.pomodoro form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    width: 180px;
    justify-content: center;
    gap: 10px;
    margin: auto;
}

.pomodoro button {
    color: #333333;
    font-size: 18px;
    background-color: #F5F5F5;
    border: solid 2px #8BC34A;
    border-radius: 10px;
}

#pause {
    display: none;
}

#play:hover {
    background-color: #eaffd1;
}

#stop:hover {
    background-color: rgb(255, 236, 199);
}

.pomodoro-list {
    background-color: #333333;
    margin: 20px auto 0 auto;
    font-family: 'Open Sans', sans-serif;
    color: #F5F5F5;
    font-size: 12px;
    width: 100%;
    width: 240px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 3px #F5F5F5;    
}